* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.route-container {
  height: 70vh;
  display: grid;
  place-items: center;
}

.route-image-lg {
  display: none;
}

@media screen and (min-width: 768px) {
  .route-image-lg {
    display: inline;
  }

  .route-image-sm {
    display: none;
  }
}
